body {
  font-family:sans-serif;
  padding: 0;
  margin: 0;
}
h1 {
  text-align: center;
}
#container {
  width: 600px;
  height: 600px;
  background-color: #eeeeee;
  margin: 60px auto;
}
.grid {
  background-color: #eeeeee;
  display: inline-block;
}
.gridBlack {
  background-color: black;
}
